<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLY$T</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<body>
    <nav>
        <p>Clyst</p>
        <div class="menu">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M16 18V20H5V18H16ZM21 11V13H3V11H21ZM19 4V6H8V4H19Z"></path></svg>
        </div>
    </nav>
    {% include "nav.html" %}
    <div class="banner">
        {% if user.mimetype %}
        <div class="avatar" data-has-dp="true" style="background-image: url('{{ url_for('get_dp', user_id=user.id) }}');">
        {% else %}
        <div class="avatar" data-has-dp="false">{{ user.name[0].upper() }}
        {% endif %}
            <div class="edit" id="edit-btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M15.7279 9.57627L14.3137 8.16206L5 17.4758V18.89H6.41421L15.7279 9.57627ZM17.1421 8.16206L18.5563 6.74785L17.1421 5.33363L15.7279 6.74785L17.1421 8.16206ZM7.24264 20.89H3V16.6473L16.435 3.21231C16.8256 2.82179 17.4587 2.82179 17.8492 3.21231L20.6777 6.04074C21.0682 6.43126 21.0682 7.06443 20.6777 7.45495L7.24264 20.89Z"></path></svg>
            </div>
        </div>
    </div>
    <main class="profile">
        <div class="artist">
            <h1>{{ user.name }}</h1>
            <div class="action-btns">
                <button class="btn btn-primary contact-btn" id="name-edit-btn">EDIT</button>
                <button class="btn btn-secondary more-btn" id="profile-opt-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 10C3.9 10 3 10.9 3 12C3 13.1 3.9 14 5 14C6.1 14 7 13.1 7 12C7 10.9 6.1 10 5 10ZM19 10C17.9 10 17 10.9 17 12C17 13.1 17.9 14 19 14C20.1 14 21 13.1 21 12C21 10.9 20.1 10 19 10ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z"></path></svg>
                </button>
            </div>
            <div class="del-options" id="profile-opt-menu">
                <div class="opts change-pwd" id="change-pwd">
                    <p>CHANGE PASSWORD</p>
                </div>
                {% if prods %}
                <div class="opts del-prods" id="del-all-prods">
                    <p>DELETE ALL PRODS</p>
                </div>
                {% endif %}
                <div class="opts del-account" id="del-account">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M7 4V2H17V4H22V6H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V6H2V4H7ZM6 6V20H18V6H6ZM9 9H11V17H9V9ZM13 9H15V17H13V9Z"></path></svg>
                    <p>DELETE ACCOUNT</p>
                </div>
            </div>
        </div>
        <div class="prod-head">
            <p class="header">Products</p>
            <div class="filter">
                <svg class="search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z"></path></svg>
                <input type="text" placeholder="search" id="search">
            </div>
        </div>
        <div class="prods">
            <div class="prod add" onclick="location.href='{{url_for('add')}}'">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M13.0001 10.9999L22.0002 10.9997L22.0002 12.9997L13.0001 12.9999L13.0001 21.9998L11.0001 21.9998L11.0001 12.9999L2.00004 13.0001L2 11.0001L11.0001 10.9999L11 2.00025L13 2.00024L13.0001 10.9999Z"></path></svg>
            </div>
            {% for prod in prods %}
            <div class="prod">
                <div class="prod-img" style="background-image: url('{{ url_for('get_prod_image', prod_id=prod.id) }}');">
                    <!-- <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M20.998 3V5C20.998 14.6274 15.6255 19 8.99805 19L7.0964 18.9999C7.3079 15.9876 8.24541 14.1648 10.6939 11.9989C11.8979 10.9338 11.7965 10.3189 11.2029 10.6721C7.1193 13.1016 5.09114 16.3862 5.00119 21.6302L4.99805 22H2.99805C2.99805 20.6373 3.11376 19.3997 3.34381 18.2682C3.1133 16.9741 2.99805 15.2176 2.99805 13C2.99805 7.47715 7.4752 3 12.998 3C14.998 3 16.998 4 20.998 3Z"></path></svg>
                    </div>
                    <div class="icon ai">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM11 15H13V17H11V15ZM11 7H13V13H11V7Z"></path></svg>
                    </div> -->
                </div>
                <div class="prod-info">
                    <p class="prod-name">{{ prod.name }}</br>₹{{ prod.price }}</p>
                    <div class="prod-options prod-menu-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 10C3.9 10 3 10.9 3 12C3 13.1 3.9 14 5 14C6.1 14 7 13.1 7 12C7 10.9 6.1 10 5 10ZM19 10C17.9 10 17 10.9 17 12C17 13.1 17.9 14 19 14C20.1 14 21 13.1 21 12C21 10.9 20.1 10 19 10ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z"></path></svg>
                    </div>
                    <div class="prod-edit-options prod-edit-menu">
                        <a class="opt-btns edit-btn" href="{{ url_for('edit', prod_id=prod.id) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M6.41421 15.89L16.5563 5.74785L15.1421 4.33363L5 14.4758V15.89H6.41421ZM7.24264 17.89H3V13.6473L14.435 2.21231C14.8256 1.82179 15.4587 1.82179 15.8492 2.21231L18.6777 5.04074C19.0682 5.43126 19.0682 6.06443 18.6777 6.45495L7.24264 17.89ZM3 19.89H21V21.89H3V19.89Z"></path></svg>
                            <p>Edit</p>
                        </a>
                        <div class="opt-btns share-btn" data-prod-id="{{ prod.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M10 3V5H5V19H19V14H21V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3H10ZM17.5858 5H13V3H21V11H19V6.41421L12 13.4142L10.5858 12L17.5858 5Z"></path></svg>
                            <p>Share</p>
                        </div>
                        <div class="opt-btns del-btn delete-product-btn" data-prod-id="{{ prod.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M7 4V2H17V4H22V6H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V6H2V4H7ZM6 6V20H18V6H6ZM9 9H11V17H9V9ZM13 9H15V17H13V9Z"></path></svg>
                            <p>Delete</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
    <div class="dp-edit edit-dp-pop" id="dp-popup">
        <form action="{{ url_for('change_dp') }}" method="POST" enctype="multipart/form-data" class="dp-popup" id="dp-edit-form">
            <h2>CHANGE PROFILE</h2>
            <div class="image" id="full-img"
            {% if user.mimetype %}
                data-current-dp="{{ url_for('get_dp', user_id=user.id) }}"
                {% endif %}>
                <div class="preview">
                    <p class="preview-text">Preview</p>
                    <img id="preview-img">
                </div>
            </div>
            <div class="btns">
                <input id="image" type="file" class="image-input" name="image-input" accept="image/*">
                <label for="image" class="btn btn-secondary">
                    <p>ADD IMAGE</p>
                </label>
                <button type="submit" class="btn btn-primary" id="change-dp-btn">
                    <p>CHANGE PROFILE</p>
                </button>
            </div>
        </form>
    </div>
    <div class="dp-edit profile-edit" id="edit-popup">
        <form action="{{ url_for('edit_profile') }}" class="dp-popup" id="name-edit-form">
            <h2>EDIT PROFILE</h2>
            <div class="input-grp username">
                <label for="username">Username</label>
                <input id="username" type="text" name="username" value="{{ user.name }}">
                <small>Error message</small>
            </div>
            <div class="contacts">
                <div class="input-grp phone">
                    <label for="phone">Phone number</label>
                    <input id="phone" type="number" name="phone"
                    {% if user.phone %}
                    value="{{user.phone}}"
                    {% endif %}
                    >
                <small>Error message</small>
                </div>
                <div class="input-grp">
                    <label for="location">Location</label>
                    <input id="location" type="text" name="location"
                    {% if user.location %}
                    value="{{user.location}}"
                    {% endif %}
                    >
                <small>Error message</small>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">UPDATE PROFILE</button>
        </form>
    </div>
    <div class="dp-edit share-popup" id="share-popup">
        <div class="alert-popup" id="share-alert-popup">
            <div class="header" id="share-pop-header">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM11 15H13V17H11V15ZM11 7H13V13H11V7Z"></path></svg>
                <h1 id="share-pop-head">Functionality on stand-by</h1>
            </div>
            <p id="share-pop-info">Sharing to social media is still in development. By that time the below link can be used to share for social media.</p>
            <div class="copy-link">
                <p id="share-link"></p>
                <button class="btn btn-secondary copy-btn" id="copy-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M6.9998 6V3C6.9998 2.44772 7.44752 2 7.9998 2H19.9998C20.5521 2 20.9998 2.44772 20.9998 3V17C20.9998 17.5523 20.5521 18 19.9998 18H16.9998V20.9991C16.9998 21.5519 16.5499 22 15.993 22H4.00666C3.45059 22 3 21.5554 3 20.9991L3.0026 7.00087C3.0027 6.44811 3.45264 6 4.00942 6H6.9998ZM5.00242 8L5.00019 20H14.9998V8H5.00242ZM8.9998 6H16.9998V16H18.9998V4H8.9998V6Z"></path></svg>
                </button>
            </div>
            <button class="btn btn-primary" id="ok-btn">OK, GOT IT</button>
        </div>
    </div>
    </div>
    <div class="dp-edit popup" id="popup">
        <div class="alert-popup" id="alert-popup">
            <div class="header" id="pop-header">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12.8659 3.00017L22.3922 19.5002C22.6684 19.9785 22.5045 20.5901 22.0262 20.8662C21.8742 20.954 21.7017 21.0002 21.5262 21.0002H2.47363C1.92135 21.0002 1.47363 20.5525 1.47363 20.0002C1.47363 19.8246 1.51984 19.6522 1.60761 19.5002L11.1339 3.00017C11.41 2.52187 12.0216 2.358 12.4999 2.63414C12.6519 2.72191 12.7782 2.84815 12.8659 3.00017ZM4.20568 19.0002H19.7941L11.9999 5.50017L4.20568 19.0002ZM10.9999 16.0002H12.9999V18.0002H10.9999V16.0002ZM10.9999 9.00017H12.9999V14.0002H10.9999V9.00017Z"></path></svg>
                <h1 id="pop-head">This is the heading of the popup</h1>
            </div>
            <p id="pop-info">We have not implemented this feature yet because our focus has been on stabilizing core functionality. Adding it prematurely could create unnecessary complexity, so we are waiting for more user feedback to ensure it meets real needs.</p>
            <a class="btn btn-primary del-all-btn" id="del-all-btn">DELETE PRODUCT</a>
        </div>
    </div>
    
    <script src="../static/js/menu.js"></script>
    <script src="../static/js/dash.js"></script>
</body>
</html>